.wrapper{
   margin: 0px auto;
   width: 100%;
   height: 100%;
   background-color: #ffffff;
}
.header{
   float: left;
   width: 100%;
   background-color: green;
   color: white;
}
.bar{
   float: left;
   width: 100%;
}
.message{
   float: left;
   width: 100%;
}
.content{
   float: left;
   width: 100%;
   height: 1000px;
   background-color: #ffffff;
}
.footer{
   float: left;
   width: 100%;
   background-color: green;
   color: #ffffff
}
body {
   size: inherit;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   width: 100%;
   height: 100%;
}