.wrapper{
   margin: 0px auto;
   width: 100%;
   background-color: #ffffff;
}
.header{
   float: left;
   width: 100%;
   background-color: orange;
   color: white;
}
.bar{
   float: left;
   width: 100%;
}
.message{
   float: left;
   width: 100%;
}
.content{
   float: left;
   width: 100%;
   background-color: #ffffff;
}
.footer{
   float: left;
   width: 100%;
   background-color: #cfcfcf;
   color: #ffffff
}
body {
   padding: 0px;
   margin: 0px;
   font-size: 90%;
}